  <div>
      <app-search (resultadoBuscar)="BuscarClicked($event)"></app-search>
      <br><br>
      <button class="btn btn-primary" (click)="AgregarClicked(content)">Agregar Helado</button>
  </div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="sabor">Sabor: </label>
          <input type="text" id="sabor" formControlName = "sabor" class="form-control" [ngClass]="{ 'is-invalid': form.controls['sabor'].touched && form.controls['sabor'].invalid }">
        </div>        
        <div class="form-group">
          <label for="tipo">Tipo: </label>
          <select id="tipo" class="form-control" formControlName = "tipo">
            <option value="Agua">Agua</option>
            <option value="Crema">Crema</option>
          </select>
        </div>
        <div class="form-group">
          <label for="kilos">Kilos: </label>
          <input type="text" id="kilos" class="form-control" formControlName = "kilos" [ngClass]="{ 'is-invalid': form.controls['kilos'].touched && form.controls['kilos'].invalid }">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button [disabled]="form.controls['kilos'].invalid || form.controls['sabor'].invalid" type="submit" class="btn btn-success" (click)="Submit()">Agregar</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
    </div>
  </ng-template>