.card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card{
    width: 300px;
    height: 500px;
    margin: 5px;
    margin-bottom: 15px;
}

.row{    
    background-color: cornflowerblue;
}

.container-fluid{
    padding: 15px;
    height: 100%;
    background-color: cornflowerblue;

}




