

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a href="/">
    <img src="../../../assets/imagenes/logo1.png"/>
  </a>

  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-cog"><span style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"> Opciones</span></i>
  </button>
    
        <div class="dropdown">
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/Listado" style="vertical-align:middle;">
                  <i class="fa fa-list"><span style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"> Listado de Resultados</span></i>
                </a>

                <a class="dropdown-item" routerLink="/Juegos" style="vertical-align:middle;">
                  <i class="fa fa-cogs"><span style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"> Configuración</span></i>
              </a>

              <a class="dropdown-item" routerLink="/Jugadores" style="vertical-align:middle;">
                <i class="fa fa-gamepad"><span style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"> Jugadores</span></i>
            </a>

            </div>
         </div>
      
      <ul class="nav navbar-nav mr-auto">
          <li><a class="nav-link" href="https://github.com/fhenseler"target="_blank">en GitHub <i class="fa fa-github"></i></a>
          <li><a class="nav-link" routerLink="/QuienSoy" >Quién Soy? <i class="fa fa-user"></i></a></li>
      </ul>
    
    <ul class="navbar-nav ml-auto">
      <li><a routerLink="/Registro" class="btn btn-dark ml-auto mr-1" href="#" role="button">Registrarse</a></li>
      <li><a routerLink="/Login" class="btn btn-primary" href="#" role="button">Ingresar</a></li>
    </ul>
  </nav>