

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <a class="navbar-brand" href="#">Sala de Juegos</a>
    
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Dropdown button
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </div>
      
      <ul class="nav navbar-nav mr-auto">
          <li><a class="nav-link" href="https://github.com/fhenseler"target="_blank">en GitHub <i class="fa fa-github"></i></a>
          <li><a class="nav-link" routerLink="/QuienSoy" >Quién Soy? <i class="fa fa-user"></i></a></li>
      </ul>
    
    <ul class="navbar-nav ml-auto">
      <li><a routerLink="/Registro" class="btn btn-dark ml-auto mr-1" href="#" role="button">Registrarse</a></li>
      <li><a routerLink="/Login" class="btn btn-dark" href="#" role="button">Ingresar</a></li>
    </ul>
  </nav>