<app-cabecera>  </app-cabecera>

   <div class="container">
      <div class="card">
          <img class="img-thumbnail"   src="./assets/imagenes/tateti.jpg" alt="Avatar" style="font-size: 50px; width:100%; display:inline-block">
          <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:#FDF6E3;">TA-TE-TI</h1>
          <p class="title" style="font-size: 19px">Juego de habilidad</p>
      
          <ul>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-dribbble "></i></a> </li>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-linkedin"></i></a></li> 
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-facebook"></i></a></li> 
          </ul>
          <p>           <button class="button"  (click)="Juego('Tateti')">Jugar</button></p>
        
        </div>

      <div class="card">
          <img class="img-thumbnail"   src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="font-size: 50px; width:100%; display:inline-block">
          <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:#FDF6E3;">Anagrama</h1>
          <p class="title" style="font-size: 19px">Juego de inteligencia</p>
      
          <ul>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-dribbble "></i></a> </li>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-linkedin"></i></a></li> 
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-facebook"></i></a></li> 
          </ul>
          <p>           <button class="button"  (click)="Juego('Anagrama')">Jugar</button></p>
        
        </div>

    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%; display:inline-block">
      <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:#FDF6E3;">Velocidad aritmética</h1>
      <p class="title">Juego de agilidad mental</p>
  
      <ul>
      <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-dribbble "></i></a> </li>
      <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-twitter"></i></a> </li>
      <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-linkedin"></i></a></li> 
      <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-facebook"></i></a></li> 
      </ul>
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%; display:inline-block">
      <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:18.5px;color:#FDF6E3;">Piedra, Papel o Tijera</h1>
      <p class="title" style="font-size: 17px">Juega contra la máquina</p>
      
      <ul>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-dribbble "></i></a> </li>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-linkedin"></i></a></li> 
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-facebook"></i></a></li> 
          </ul>
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100% ; display:inline-block">
      <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:#FDF6E3;">Adivina el número</h1>
      <p class="title">Juego de estrategia</p>
      
      <ul style="text-align: center">
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-dribbble "></i></a></li>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-linkedin"></i></a></li> 
          <li style="display:inline-block; margin-right:20px;"><a href="#"><i class="fa fa-facebook"></i></a></li> 
          </ul>
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card" style="background-color: rgb(255,215,0)">
        <img  class="img-thumbnail"  src="./assets/imagenes/click.png" alt="Avatar" style="width:100% ; display:inline-block">
        <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:rgb(65, 65, 65);">Clickea rápido!</h1>
        <p class="title">Juego de velocidad</p>
        
        <ul style="text-align: center">
            <li style="display:inline-block; margin-right:20px;"><a href="#"><i id="li1" class="fa fa-dribbble"></i></a></li>
            <li style="display:inline-block; margin-right:20px;"><a href="#"><i id="li1" class="fa fa-twitter"></i></a> </li>
            <li style="display:inline-block; margin-right:20px;"><a href="#"><i id="li1" class="fa fa-linkedin"></i></a></li> 
            <li style="display:inline-block; margin-right:20px;"><a href="#"><i id="li1" class="fa fa-facebook"></i></a></li> 
            </ul>
        <p>           <button class="button"  (click)="Juego('Clickea')" style="background-color:rgb(102, 102, 102);">Jugar</button></p>
      </div>
  </div>


  <div class="container" style="margin-bottom:20px;">














