<app-cabecera> </app-cabecera>

<mat-toolbar color="accent">
        <mat-toolbar-row>
            <span>Jugador : {{nombreJugador}}</span>
        </mat-toolbar-row>
    </mat-toolbar>



    <div class="container  animated fadeInRight" style="text-align:center;background-color: black;margin-top: 5%">
<form name="juego">


<div class="main">
<h1>Hacer tantos clicks en el botón como sea posible</h1>
<h3 style="color:red;">Tiempo restante:</h3>

<div><span id="time">{{nuevoJuego.timeLeft}}</span></div>
<button id="clickme" (click)="startGame()">Cantidad de Clicks: {{nuevoJuego.resultado}}</button>

</div>

<div [hidden]="terminoJuego">
    <button mat-raised-button color="warn" class="btn btn-lg" (click)="reiniciarJuego()">Reiniciar juego</button>
  </div>
</form>
</div>
<div id="snackbar">{{Mensajes}}</div>

<p-dialog header="Fin del juego" [(visible)]="display" [width]="300">
    <div class="alert alert-info" style="font-size: 150%; text-align: center">
           <strong>Terminó el juego</strong><br>Cantidad de clicks: {{nuevoJuego.resultado}}
          </div>
</p-dialog>