<app-cabecera> </app-cabecera>
<br>
<span class="label warning" style="margin-left: 550px;">Sesión iniciada como: <strong>{{nombreUsuario}}</strong></span>

        <div class="container">
                <br>
            <div class="card">
                <img class="img-thumbnail"   src="./assets/images/tateti.jpg" alt="Avatar" style="font-size: 50px; width:100%; display:inline-block">
                <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:#FDF6E3;">TA-TE-TI</h1>
                <p class="title" style="font-size: 19px">Juego de habilidad</p>

                <p-footer><button class="button" routerLink='Tateti' >Jugar</button></p-footer>
              
              </div>
            </div>

            <div class="card">
                <img class="img-thumbnail"   src="./assets/images/anagrama.jpg" alt="Avatar" style="font-size: 50px; width:100%; display:inline-block">
                <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:#FDF6E3;">Anagrama</h1>
                <p class="title" style="font-size: 19px">Juego de inteligencia</p>

                <p-footer><button class="button" routerLink='Anagrama' >Jugar</button></p-footer>
              
              </div>
      
          <div class="card">
            <img class="img-thumbnail"   src="./assets/images/cerebro.jpg" alt="Avatar" style="width:100%; display:inline-block">
            <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:29.5px;color:#FDF6E3;">Velocidad aritmética</h1>
            <p class="title">Juego de agilidad</p>
        

            <p-footer><button class="button" routerLink='Agilidad' >Jugar</button></p-footer>
          
          </div>
        
          <div class="card">
            <img class="img-thumbnail" src="./assets/images/ppt.jpg" alt="Avatar" style="width:100%; display:inline-block">
            <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:18.5px;color:#FDF6E3;">Piedra, Papel o Tijera</h1>
            <p class="title" style="font-size: 17px">Juega contra la máquina</p>
            

                <p-footer><button class="button" routerLink='Piedra' >Jugar</button></p-footer>
          </div>

          <div class="card">
            <img  class="img-thumbnail"  src="./assets/images/adivina.png" alt="Avatar" style="width:100% ; display:inline-block">
            <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:#FDF6E3;">Adivina el número</h1>
            <p class="title">Juego de estrategia</p>
            

         <p-footer><button class="button" routerLink='Adivina' >Jugar</button></p-footer>
          </div>
      
          <div class="card" style="background-color: rgb(255,215,0)">
              <img  class="img-thumbnail"  src="./assets/images/click.png" alt="Avatar" style="width:100% ; display:inline-block">
              <h1 style = "font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:30px;color:rgb(40, 40, 40);">Clickeá rápido!</h1>
              <p class="title" style="color:rgb(196, 62, 84);">Juego de velocidad</p>
              

                  <p-footer><button class="button" routerLink='Clickea' >Jugar</button></p-footer>
            </div>
