<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/">
    <img src="../../../assets/images/logo1.png"/>
  </a>
      
      <ul class="nav navbar-nav mr-auto">
          <li><a class="nav-link" href="https://github.com/fhenseler"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      </ul>

    
      <button pButton style="background-color:lightcyan; color:black" (click)="menu()" label="Juegos" icon="fa-gamepad"></button>
      <button pButton style="background-color:lightsteelblue; color:black" (click)="est()" label="Estadísticas" icon="fa-list"></button>
      <button pButton style="background-color:lightcoral; color:black" label="Salir" (click)="salir()" icon="fa-sign-out"></button>
  </nav>