
<!--Donde se encuentre este tag, se instancian los componentes dependientes del ruteo-->
<router-outlet></router-outlet>

<script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBhBu4s5RrHuL6CWxlmSoB-UY72eywP4fM",
    authDomain: "tp-sala-de-juegos-47211.firebaseapp.com",
    databaseURL: "https://tp-sala-de-juegos-47211.firebaseio.com",
    projectId: "tp-sala-de-juegos-47211",
    storageBucket: "tp-sala-de-juegos-47211.appspot.com",
    messagingSenderId: "245518479305"
  };
  firebase.initializeApp(config);
</script>

