    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div style="text-align:center">
      <h1>
        {{nuevoJuego.nombre}}!
      </h1>
     </div>
    <h2></h2>


    <form name="juego">


  <div class="main">

    <h3 style="color:red;">Tiempo restante:</h3>
    <!-- *ngIf="nuevoJuego.contador==0" -->
    <div><span id="time">{{nuevoJuego.timeLeft}}</span></div>
    <button id="clickme" (click)="startGame()">Cantidad de Clicks: {{nuevoJuego.contador}}</button>

  </div>


</form>
<!-- <div id="snackbar">{{Mensajes}}</div> -->