<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <a href="/">
      <img src="../../../assets/imagenes/logo1.png"/>
    </a>
  
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-cog"><span style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"> Opciones</span></i>
    </button>
        
        <ul class="nav navbar-nav mr-auto">
            <li><a class="nav-link" href="https://github.com/fhenseler"target="_blank">en GitHub <i class="fa fa-github"></i></a>
            <li><a class="nav-link" routerLink="/QuienSoy" >Quién Soy? <i class="fa fa-user"></i></a></li>
        </ul>
    </nav>
  
  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Soy Federico Henseler - 4ºB 2019</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Trabajo Práctico - Sala de Juegos</h3>
    <p> Consiste en 3 juegos por default + 1 juego personal de cada alumno. En mi caso, desarrollé el juego de "Clickear rápido", que consiste en hacer la mayor cantidad de clicks en un minuto. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-file"></span> Descargar PDF
    </a>
  </div>
  
  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://www.github.com/fhenseler">www.github.com/fhenseler</a></p> 
  </footer>