/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url("assets/imagenes/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 20px;
}