.card-img-top {
    width: 200px;
    height: 70px;
    object-fit: cover;
}
.row{    
    background-color: black;
}

.container-fluid{
    padding: 15px;
    height: 100%;
    background-color: black;

}




